.logo {
    font-family: 'Fira Code', monospace;
    font-size: 36px;
    font-weight: bold;
    background: linear-gradient(to right, #4FC3F7, #00B0FF, #0288D1); /* Light blue gradient color */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: colorAnimation 10s linear infinite;
  }
  
  @keyframes colorAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }